/* styles/auth.css */
.user-greeting {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-greeting #user-name {
  color: #ff3366;
  /* Adjust this color as needed */
}

.user-greeting #logout-link {
  color: #fff;
  text-decoration: none;
}

.user-greeting #logout-link:hover {
  text-decoration: underline;
}
